@import "../../scss/vars";

header {
  background-color: $primary-color;
  position: fixed;
  left: 0;
  top: 0;
  width: 100%;
  z-index: 10;
  transition: 0.3s ease all;

  &.is-not-fixed {
    background-color: fade_out($primary-color,0.75);

    .header{
      padding: 10px 0;
    }
  }

  //&.is-fixed {
  //  background-color: fade_out(#fff, 0.25);
  //  box-shadow: $base-box-shadow;
  //
  //  .header {
  //    padding: 5px 0;
  //    color: $primary-color;
  //  }
  //
  //  .header-menu a {
  //    color: $primary-color;
  //  }
  //
  //  .header__logo-can {
  //    color: $primary-color;
  //  }
  //
  //  .header__logo-since {
  //    color: $primary-color;
  //  }
  //}
}

.header {
  color: white;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 5px 0;
  transition: 0.3s ease all;

  &__logo {

    a {
      text-decoration: none;
    }

    &-any {
      font-size: 40px;
      font-weight: bold;
      color: $secondary-color;
    }

    &-can {
      font-size: 40px;
      font-weight: bold;
      color: white;
      transition: .3s ease all;
    }

    &-since {
      margin-left: 0.75em;
      font-size: 18px;
      font-style: italic;
      color: white;
      transition: .3s ease all;
    }
  }
}
